/* Reset de estilos */
html, body, header, nav, section, footer, ul, li, p, form, label, input, select, table, thead, tbody, tr, th, td, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header, nav, section, footer {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
}

/* Estilos del menú de navegación */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

/* Estilos de las secciones */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

label {
    flex: 1 0 100%;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    flex: 1 0 calc(50% - 10px);
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    flex: 1 0 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
